* {
  font-family: "Playpen Sans", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  color: white;
}

:root {
  --botton-color: #6e9aad;
  --backg-color: #0f2027;
}

.formazione {
  background-color: #0f2027;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.formazione .formazione-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.formazione-row .formazione-column {
  flex: 1 1 40rem;
}

.formazione-column .titolo {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.formazione-column .formazione-box {
  border-left: 0.2rem solid #50bceb;
}

.formazione-box .formazione-contenuto {
  position: relative;
  padding-left: 2rem;
  z-index: 1;
}

.formazione-box .formazione-contenuto::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: #50bceb;
  border-radius: 50%;
}

.formazione-contenuto .contenuto {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid #50bceb;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.formazione-contenuto .contenuto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #6e9aad;
  opacity: 0.3;
  z-index: -1;
  transition: 0.5s;
}

.formazione-contenuto .contenuto:hover::before {
  width: 100%;
}

.formazione-contenuto .contenuto .anni {
  font-size: 1.5rem;
  color: #50bceb;
  padding-bottom: 0.5rem;
  font-weight: 900;
}

.formazione-contenuto .contenuto .anni i {
  padding-right: 0.5rem;
}

.formazione-contenuto .contenuto h2 {
  font-size: 2rem;
}

.formazione-contenuto .contenuto h3 {
  font-size: 1.5rem;
}

.formazione-contenuto .contenuto p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
  text-align: justify;
  margin: 5px;
}

.formazione-column .titolo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA BREAKOUT */

@media (max-width: 462px) {
  .formazione {
    padding: 10rem 4% 5rem 5%;
  }
}
